body{
    background:black;
    color:white;
    font-family:Arial;
    text-align:center;
}
.glass{
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(12px);
    border-radius:20px;
    border:1px solid rgba(255,255,255,.15);
}